fieldset {
  padding: 3em;
  font: 90%/1 sans-serif;
  }
  label {
    float: none;
    width: 33%
    margin-right:1em;
    padding-top: .5em;
    text-align: right;
    font-weight: bold;
  }
legend {
  padding: 0.2em 0.5em;
  border: 1px solid green;
  color: green;
  font-size: 90%;
  text-align: left;
}
body {
  background-image: url();
}
